.title-header {
   text-align: center;
   background: #09315b;
   color: #fff;
   display: inline-block;
   padding: 6px;
   font-size: 21px;
   line-height: 17px;
   margin-bottom: 2rem;
   padding-right: 2rem;
   padding-left: 2rem;
   padding-top: 1rem;
   padding-bottom: 12px;
   padding: 12px 10px;
   -webkit-border-radius: 6px;
   border-radius: 6px;
   -moz-border-radius: 6px;
   -ms-border-radius: 6px;
   -o-border-radius: 6px;
   p {
      font-size: 25px;
      line-height: 26px;
   }
}

.st-nav .st-nav-list>li>a:before {
   background-color: $red;
}

.st-top-header {
   background: $primary;
   border-bottom: 0;
   .st-top-header-btn {
      font-weight: 400;
   }
   .st-top-header-list {
      height: 100%;
      li{
         padding: 0 6px;
         a {
            color: $white !important;
         }
      }      
      &:first-child {
         svg {
            color: $white;
            fill: $primary;
         }
      }
      &:last-child {
         height: 100%;
         li{
            transition: 0.5s;                     
            -webkit-transition: 0.5s;
            -moz-transition: 0.5s;
            -ms-transition: 0.5s;
            -o-transition: 0.5s;         
            &:hover{
               background: $red;
            }
         }
      }
   }
}

.st-main-header {
   .st-site-branding {
      width: 200px;
   }
}